*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

.wrapper{
    width: 1200px;
    margin: 0 auto;
}

.row{
    padding-bottom:20px;
}

.row::after{
    clear: both;
    content: "";
    display: table;
}

header{
    margin-bottom: 20px;
}

.logo{
    height: 100px;
}

.logo img{
    max-height: 100%;
    border-right: 1px solid #c8bfba;
    padding-right: 20px;
}

.jumbotron{
    background: url(../img/banner.jpg) 50% 50%;
    background-size: cover;
    height:500px;
    border-radius: 20px;
    margin-bottom: 20px;
    position:relative;
}

main{
    margin-bottom: 10px;
}

.top-main{
    width: 100%;
    height: 100px;
}

h3, p{
    color: slategray;
}

/* ----START MENU---- */
nav{
    margin:40px 0;
}
nav ul{
    list-style: none;
}

nav ul li{
    display: inline-block;
}

nav ul li a{
    text-decoration: none;
    padding-right: 5px;
    color: #9295a5;
    font-size: 18px;
}
/* ----END MENU---- */

/* ----START JUMBOTRON TEXT---- */
.jumbo-text{
    width: 50%;
    position: absolute;
    bottom: 60px;
    left: 60px;
}

.jumbo-text .jumbo-title{
    font-size: 36px;
}

.jumbo-text p {
    color: #FFF;
}
/* ----END JUMBOTRON TEXT---- */

/* ----START 3 COLUMN---- */
.fl{
    float: left;
}

.left-col, .right-col{
    width: 25%;
}

.central-col{
    width: 50%;
}

.left-col, .central-col{
    padding-right: 20px;
}

.col{
    width: 100%;
}
/* ----END 3 COLUMN---- */

/* ----START COLUMN BANNER---- */
.banner{
 height: 250px;
 border-radius: 20px;
 margin-bottom: 20px;
 background-size: cover;
}

.banner-left{
    background: url(../img/img-1.jpg) no-repeat 50% 50%;
}

.banner-central{
    background: url(../img/banner-2.jpg) no-repeat 50% 40%;
}

.banner-right{
    background: url(../img/img-3.jpg) no-repeat 50% 50%;
}
/* ----END COLUMN BANNER---- */

/* ----START FILTER---- */
.filter{
    background-color: rgba(0,0,0,0.25);
    height: 100%;
    border-radius: 20px;
}
/* ----END FILTER---- */

/* ---START FOOTER---- */
footer{
    height: 50px;
    text-align: center;
    line-height: 50px;
}

.heart::after{
    content: '\2665';
    color:red;
    font-size: 24px;
}
/* ----END FOOTER---- */